body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #333;
    border: 1px solid black;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 55px;
}

#objective {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    text-align: justify;
}

#location-section {
    margin-top: 60px;
    width: 100%;
    background-color: black;
    color: white;
} 

.search-wrapper {  
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
    width: 315px;
    height: 30px;
}

.location-form {
    width: 100%;
}

#filter-section {
    margin-top: 60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}

.filter-form {
    width: 100%;
    height: 60px;
}

.type-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 315px;
    height: 60px;
}


#js-filter-type {
    width: 120px;
}

#filter-go {
    margin-right: 10%;
}

select {
    height: 25px;
    width: 180px;
}

.label {
    margin-right: 10px;
}

#city-label {
    margin-right: 9.7px;
}

#js-city {
    width: 135px;
}

input {
    height: 25px;
}
#js-state {
    width: 170px;
}

#go {
    width: 35px;
}



form {
    width: 100%;
}

.listing {
    text-decoration: none;
    color: black;
}

.listing:hover {
    color: blue;
}

a:hover {
    color: blue;
}

.results-ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.brewery-type {
    text-transform: capitalize;
}

.hidden {
    display: none;
}