body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: gray;
    border: 1px solid black;
}

#section1 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    text-align: justify;
}

#section2 {
    margin-top: 60px;
    width: 100%;
    background-color: black;
    color: white;
} 

.location-form {
    width: 100%;
}
.search-wrapper {  
    margin-left: 5%;  
    width: 315px;
    height: 30px;
    display: flex;
    align-items: center;
}
.type-wrapper {
    margin-left: 5%;
    width: 315px;
    height: 30px;
    display: flex;
    align-items: center;
}

#js-filter-type {
    width: 120px;
}
select {
    height: 25px;
    width: 180px;
}

.label {
    margin-right: 10px;
}

#city-label {
    margin-right: 9.7px;
}

#js-city {
    width: 135px;
}

input {
    height: 25px;
}
#js-state {
    width: 170px;
}

#go {
    width: 35px;
}

#filter-section {
    margin-top: 60px;
    padding-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
}

form {
    width: 100%;
}

.listing {
    text-decoration: none;
    color: black;
}

.listing:hover {
    color: blue;
}

a:hover {
    color: blue;
}

.results-ul {
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

.brewery-type {
    text-transform: capitalize;
}

.hidden {
    display: none;
}