body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

main {
    padding-bottom: 30px;
}

nav {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #333;
    border: 1px solid black;
}

.nav-wrapper-1 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* justify-content: space-between; */
}

#logo {
    height: 55px;
    margin-left: 8%;
}

.nav-wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.objective {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.objective-wrapper h1 {
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: 
        typing 2s steps(40, end),
        blinking-cursor .5s step-end infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}
@keyframes blinking-cursor {
    from, to {border-color: transparent}
    50% {border-color: orange}
}

#location-section {
    margin-top: 60px;
    width: 100%;
    background-color: black;
    color: white;
} 

.search-wrapper {  
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;  
    width: 315px;
    height: 30px;
}

.location-form {
    width: 100%;
}

#filter-section {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
}

.filter-form {
    width: 100%;
    height: 60px;
}

.type-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 315px;
    height: 60px;
}


#js-filter-type {
    width: 120px;
}

#filter-go {
    margin-right: 10%;
}

select {
    height: 25px;
    width: 180px;
}

.label {
    margin-right: 10px;
}

#city-label {
    margin-right: 9.7px;
}

#js-city {
    width: 135px;
}

input {
    height: 25px;
}
#js-state {
    width: 170px;
}

#go {
    width: 35px;
}

.listing {
    text-decoration: none;
    color: black;
}

.listing:hover {
    color: blue;
}

a:hover {
    color: blue;
}

.results-ul {
    list-style: none;
    margin-top: 120px;
    padding: 5px;
    /* background-color: #333; */
    color: black;
}

.brewery-type {
    text-transform: capitalize;
}

.hidden {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    height: 30px;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
